<div>

<div>
	<button type="button" class="btn btn-default">
		<a href="/users/new">NEW</a>
	</button>
</div>
<table class="table table-condensed">
	<tr>
		<th style="display:none">Id</th>
		<th>Firstname
		</th>
		<th>Lastname
		</th>
		<th>Actions
		</th>
	</tr>
	<tr ng-repeat="user in users">
		<td style="display:none" ng-model="id">{{user.id}}
		</td>
		<td>{{user.firstName}}
		</td>
		<td>{{user.lastName}}
		</td>
		<td>
			<button type="button" class="btn btn-default btn-lg" >
			   <a ng-href="/users/edit/{{user.id}}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
			</button>	
			<button type="button" class="btn btn-default btn-lg">
			  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>				
		</td>
	</tr>
</table>

</div>