
<div class="page-header">
	<h1>Users</h1>
</div>

<div class="col-md-12">
	<div class="pull-left">
		<h4>User list</h4>
	</div>
	<div class="pull-right">
		<a href="/users/new">
			<button type="button" class="btn btn-primary">
				NEW
			</button>
		</a>
	</div>

<div class="table-responsive">
<table id="mytable" class="table table-bordred table-striped">
	<thead>
		<!-- <th></th> -->
		<th style="display:none" >Id</th>
		<th class="text-center">First Name<br><br></th>
		<th class="text-center">Last Name<br><br></th>
		<th class="text-center">Id Series<br> and Number</th>
		<th class="text-center">Personal<br> Numeric Code</th>
		<th class="text-center">Email<br><br></th>
		<th class="text-center">Phone<br><br></th>
		<th class="text-center">Edit<br><br></th>
		<th class="text-center">Delete<br><br></th>
		<th class="text-center">Files<br><br></th>
		<th class="text-center">Photo<br><br></th>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<!-- <td class="text-center"><input type="checkbox" ng-model="checked" /></td> -->
			<td class="text-center" style="display:none" ng-model="id">{{user.id}} </td>
			<td class="text-center"><a ng-href="/userProfile/{{user.id}}">{{user.firstName}}</a></td>
			<td class="text-center"><a ng-href="/userProfile/{{user.id}}">{{user.lastName}}</a></td>		
			<td class="text-center">{{user.idSeries}} {{user.idNumber}}</td>	
			<td class="text-center">{{user.idPersonalCode}}</td>
			<td class="text-center">{{user.contactInfo.email1}} <br> {{user.contactInfo.email2}}</td>	
			<td class="text-center">{{user.contactInfo.telephone1}} <br> {{user.contactInfo.telephone2}}</td>
			<td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Edit">
				<a ng-href="/users/{{user.id}}">
					<button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal">
					    <span class="glyphicon glyphicon-pencil"></span> 
					</button>	
				</a>
			</p></td>
			<td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete">
				<a href="" ng-click="deleteUser(user)"> 
					<button type="button" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal">
					  <span class="glyphicon glyphicon-trash"></span>
					</button>	
				</a>
			</p></td>
			<td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Upload">	
				<a ng-href="/upload/{{user.id}}">
					<button type="button" class="btn btn-primary btn-xs" data-title="Upload" data-toggle="modal" >
					   <span class="glyphicon glyphicon-upload" ></span>
					</button>
				</a>
			</p></td>
			<td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Photo">
			<a ng-href="/uploadPhoto/{{user.id}}">
				<button type="button"  class="btn btn-primary btn-xs" data-title="Photo" data-toggle="modal" >
				   <span class="glyphicon glyphicon-picture"></span>
				</button>		
			</a>	
			</p></td>
		</tr>
	</tbody>
</table>

</div>
</div>
