<div class="page-header">
	<h1>Add user</h1>
</div>

<div class="col-md-12">
	<div class="col-md-8">
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2">Firstname</label>
				<div class="col-md-10">
					<input type="text" name="firstname" ng-model="newuser.firstName" class="form-control"/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-2">Lastname</label>
				<div class="col-md-10">
					<input type="text" name="lastname" ng-model="newuser.lastName" class="form-control"/>	
				</div>	
			</div>
			<div class="form-group">
				<label>Current address</label>
			</div>
			<div class="form-group">

				<label class="col-md-2">Country</label>
				<div class="col-md-10">
					<input type="text" name="country" ng-model="newuser.currentAddress.country" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">City</label>
				<div class="col-md-10">
					<input type="text" name="city" ng-model="newuser.currentAddress.city" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">District</label>
				<div class="col-md-10">
					<input type="text" name="district" ng-model="newuser.currentAddress.district" class="form-control"/>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-md-2">Street Name</label>
				<div class="col-md-10">
					<input type="text" name="streetname" ng-model="newuser.currentAddress.streetName" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Street Number</label>
				<div class="col-md-10">
					<input type="text" name="streeno" ng-model="newuser.currentAddress.streetNo" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Zip Code</label>
				<div class="col-md-10">
					<input type="text" name="zipcode" ng-model="newuser.currentAddress.zipCode" class="form-control"/>
				</div>		
			</div>
			
			<div class="form-group">
				<label>Birth address</label>
			</div>
			<div class="form-group">

				<label class="col-md-2">Country</label>
				<div class="col-md-10">
					<input type="text" name="country" ng-model="newuser.birthAddress.country" class="form-control"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-md-2">City</label>
				<div class="col-md-10">
					<input type="text" name="city" ng-model="newuser.birthAddress.city" class="form-control"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-md-2">District</label>
				<div class="col-md-10">
					<input type="text" name="district" ng-model="newuser.birthAddress.district" class="form-control"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-md-2">Street Name</label>
				<div class="col-md-10">
					<input type="text" name="streetname" ng-model="newuser.birthAddress.streetName" class="form-control"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-md-2">Street Number</label>
				<div class="col-md-10">
					<input type="text" name="streeno" ng-model="newuser.birthAddress.streetNo" class="form-control"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-md-2">Zip Code</label>
				<div class="col-md-10">
					<input type="text" name="zipcode" ng-model="newuser.birthAddress.zipCode" class="form-control"/>
				</div>		
			</div>
			<div class="form-group">
				<label class="col-md-2">Id Series</label>
				<div class="col-md-10">
					<input type="text" name="idseries" ng-model="newuser.idSeries" class="form-control"/>
				</div>			
			</div>
			<div class="form-group">	
				<label class="col-md-2">Id Number</label>
				<div class="col-md-10">
					<input type="text" name="idno" ng-model="newuser.idNumber" class="form-control"/>
				</div>	
			</div>
			<div class="form-group">	
				<label class="col-md-2">Personal Code</label>
				<div class="col-md-10">
					<input type="text" name="personalcode" ng-model="newuser.idPersonalCode" class="form-control"/>
				</div>	
			</div>
			<div class="form-group">	
				<label class="col-md-2">Nationality</label>
				<div class="col-md-10">
					<input type="text" name="nationality" ng-model="newuser.nationality" class="form-control"/>
				</div>	
			</div>
			<div class="form-group">	
				<label class="col-md-2">Marital status</label>
				<!-- <select name="status" ng-model="newuser.maritalStatus" ng-options="s for s in status"> -->
				<div class="col-md-10">
					<select name="status" ng-model="newuser.maritalStatus">
						<option value="">Select</option>
						<option value="married"> Married</option>
						<option value="not married">Not married</option>
					</select>	
				</div>	
				<br><br><br>
			</div>
			<div class="form-group">
				<label class="col-md-2">Number of children</label>
				<div class="col-md-10">
					<input type="text" name="children" ng-model="newuser.noOfChildren" class="form-control"/>
					</div>
			</div>
			<div class="form-group">
				<label>Contact</label>
			</div>
			<div class="form-group">	
				<label class="col-md-2">Telephone 1</label>
				<div class="col-md-10">
					<input type="text" name="telephone1" ng-model="newuser.contactInfo.telephone1" class="form-control"/>
				</div>
			</div>
			<div class="form-group">			
				<label class="col-md-2">Telephone 2</label>
				<div class="col-md-10">
					<input type="text" name="telephone2" ng-model="newuser.contactInfo.telephone2" class="form-control"/>
				</div>
			</div>
			<div class="form-group">				
				<label class="col-md-2">Email1</label>
				<div class="col-md-10">
					<input type="text" name="email1" ng-model="newuser.contactInfo.email1" class="form-control"/>
				</div>			
			</div>
			<div class="form-group">	
				<label class="col-md-2">Email2</label>
				<div class="col-md-10">
					<input type="text" name="email2" ng-model="newuser.contactInfo.email2" class="form-control"/>
				</div>				
			</div>				

			<button type="submit" class="btn btn-primary" ng-click="saveUser()"> Save </button>
			<br><br>
		</form>	
	</div>
</div>